<p id="notice"><%= notice %></p>

<h1>Manual Control</h1>

<table>
  <tbody>
    <% @controls.each do |control| %>

    <%= form_for control, :url => {:action => :toggle}, :method => :get do |f| %>
    <tr>
      <th valign="middle"><h2><%= control.name %></h2></th>
      <td>
        <div class="field">
          <%= f.check_box :automated, :name => control.id, :id => 'manualToggle', :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'ON', 'off-text'=>'OFF'} %>
        </div>
      </td>
    </tr>
    <% end %>

    <% end %>
  </tbody>
</table>

<br>
